spring:
  application:
    name: PhaseOne
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 899961
    url: jdbc:mysql://localhost:3306/project
  jpa:
    show-sql: true
    open-in-view: true
    hibernate:
      ddl-auto: create
  output:
    ansi:
      enabled: always
server:
  port: 8081